<h1>MIS PROJECT</h1>
<h2>WEEK 1: TO COMPLETE SETTING UP DATABASE MIGRATION FILES AND SCHEMA</p>

<h3>THE FOLLOWING TABLES DONE</h3>
  <%=link_to "Employees table", employees_path %><br/><br/>
  <%=link_to "Units table", units_path %><br/><br/>
  <%=link_to "Circulars", circulars_path %><br/><br/>
  <%=link_to "Registers", registers_path %><br/><br/>
  <h><strong>Audits table (database is setup , 1 Unit can have many audits)</strong></h><br/><br/>
  <h><strong>Auditors table (It is a bridge between Audits and Employees )</strong></h>
  <p>It contains 3 columns: audit_id , employee_id , post</p>
